<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morphoss.xo.memorize"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="Memorize"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.morphoss.xo.memorize.settings.SettingsActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.morphoss.xo.memorize" />
        </activity>
        <activity
            android:name="com.morphoss.xo.memorize.settings.AdditionActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.morphoss.xo.memorize" />
        </activity>
        <activity
            android:name="com.morphoss.xo.memorize.settings.SoundsActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_CHECKING" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/mp3" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.morphoss.xo.memorize" />
        </activity>
        <activity
            android:name="com.morphoss.xo.memorize.settings.LettersActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.morphoss.xo.memorize" />
        </activity>
        <activity
            android:name="com.morphoss.xo.memorize.settings.FileChooser"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.morphoss.xo.memorize" />
        </activity>
    </application>

</manifest>